.login_subtitle {
  display: flex;
  justify-content: center;
  font-family: "gmarket";
  /* font-weight: 700; */
  /* font-size: x-large; */
  margin-top: 40px;
  width: 400px;
  /* margin-bottom: 20px; */
}

.login_title {
  display: flex;
  justify-content: center;
  font-family: "gmarket";
  font-weight: 700;
  font-size: x-large;
  margin-top: 10px;
  width: 400px;
  margin-bottom: 20px;
  color: #6f00cc;
}

.login_buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.login_idinput {
  /* margin-top: 20px; */
}

.login_pwinput {
  margin-top: 20px;
  margin-bottom: 50px;
}

.login_idinput_ {
  width: 350px;
}

.login_pwinput_ {
  width: 350px;
}
