.board_all {
  /* width: 1000px; */
  /* border: 1px solid black; */
  height: 2000px;
  border-right: 1px solid lightgray;
  padding-right: 10px;
  margin-top: 30px;
}

.boardmain_title {
  font-size: 20pt;
  font-family: gmarket;
  margin-left: 10px;
  display: inline;
  /* color: #a868df; */
}

.boardmain_titlebox {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "gmarket";
}

.boardmain_boardBtn {
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 3px;
  outline: 0;
  margin-right: 10px;
  background-color: white;
  font-size: 9pt;
  margin-top: 12px;
}

.boardmain_writeBtn {
  margin-bottom: 15;
  cursor: pointer;
  border: 1px solid #11264f;
  border-radius: 3px;
  outline: 0;
  background-color: #11264f;
  color: white;
  font-size: 9pt;
}
