.Mete_board {
  width: 100;
  height: 500;
  /* border: 1px solid black; */
  /* background-color: #6f00cc; */
  /* display: inline; */
  margin-top: 10px;
}
/* NU7JM { */
/* background-color: #f6eefd; */
/* } */

.mete_Btitle {
  display: flex;
  justify-content: space-between;
  font-size: 12pt;

  /* border-top: 1px solid black; */
  padding-left: 10px;
  /* margin-top: 10px; */
  padding-top: 10px;

  font-weight: 600;
  /* border: 1px solid black; */
}

.mete_deletebutton {
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 3px;
  outline: 0;
  margin-right: 10px;
  background-color: white;
  font-size: 9pt;
  /* margin-top: 12px; */
}

.mete_Bwriter {
  /* margin-top: 10px; */
  padding-left: 12px;
}

.mete_Bwtbox {
  display: flex;
  flex-direction: row;
  /* padding-left: 10px; */
  font-size: 10pt;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.mete_Btime {
  color: gray;
  margin-left: 10px;
}

.mete_Bwtbox {
  display: flex;
  justify-content: space-between;
}

.mete_Bwtbox2 {
  display: flex;
  flex-direction: row;
}

.mete_recomendButn {
  margin-right: 10px;
  font-size: 9pt;
  cursor: pointer;
  /* background-color: #f6eefd; */
}

.mete_content {
  border-bottom: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 150px;
  /* margin-bottom: 10px; */
  /* background-color: #e7e7e749; */
  padding-right: 10px;
  padding-left: 10px;
  /* border-left: 1px solid gray;
  border-right: 1px solid gray; */
}

.mete_replebox {
  height: 130px;
  background-color: #eeeded;
  /* margin-bottom: 10px; */
  /* padding-top: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.mete_textarea {
  height: 75px;
  width: 605px;
  /* text-decoration: none; */
  border: 0px;
  outline: none;
}

.mete_repletitle {
  font-size: 12px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  /* margin-left: 10px; */
  /* margin-top: 10px; */
}

.mete_textareabox {
  display: flex;
  flex-direction: column;
}

.mete_replebtn {
  /* height: 85px; */
  color: white;
  width: 75px;
  background-color: #11264f;
  cursor: pointer;
  border: 0;
}

.mete_textareabox2 {
  display: flex;
  margin-top: 5px;
}
.mete_line {
  height: 2px;
  border-bottom: 1px solid black;
}

.mete_lickbox {
  display: flex;
}
